<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-collapse " id="btn">
                <ul class="navbar-nav ms-auto my-container">
                    <li class="nav-item fs-3">
                        <a class="nav-link active" aria-current="page" href="#">WorkoutGPT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('result')}}">Results</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    <form action="/result" method="POST" class="my-form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter your gym related question</label>
            <div class="input-btn">
            <input type="text" class="form-control" name="userInput">
            <button type="submit" class="btn btn-primary my-btn">Submit</button>
            </div>
        </div>
    </form>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>